<app-header>

</app-header>
    <h3 class="textC">Bienvenido al sistema de subscripción de notificaciones</h3>
<div class="botonRed">
    <p>De click aquí para subscribirse</p>
    <button mat-flat-button style="background-color: #d6dfec;" (click)="requestNotificationPermise()">Subscribir</button>

    <h4>Información:</h4>
    <p>{{anyThing}}</p>
    <a href="https://fundmalecon2000-my.sharepoint.com/:t:/g/personal/jmoreno_malecon2000_org_ec/EfTmb71rJi1ApWFKgJovNSEBufCknHF9bUIpqGXGvcg5VQ?e=UZYE66" target="_blank">Open</a>
</div>
